<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Files</title>

    <link rel="stylesheet" href="{{assetDir}}/styles.css">
  </head>

  <body>
    <main>
      <h1>Index of <b>{{directory}}</b></h1>

      <ul>
        {{#each files}}
          <li>
            <a href="{{base}}">{{base}}</a>
          </li>
        {{/each}}
      </ul>
    </main>

    <aside>
      <p>Node.js {{nodeVersion}} <a href="https://github.com/zeit/micro-list" target="_blank">micro-list</a> running @ localhost:{{port}}</p>
    </aside>

    <script async src="{{assetDir}}/app.js"></script>
  </body>
</html>
