<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Files within {{directory}}</title>

    <link rel="stylesheet" href="{{assetDir}}/styles.css">
  </head>

  <body>
    <main>
      <header>
        <h1>
          <i>Index of&nbsp;</i>

          {{#each paths}}
            <a href="/{{url}}">{{name}}</a>
          {{/each}}
        </h1>

        <a class="single-column" id="toggle" title="click to toggle the view"></a>
      </header>

      <ul id="files">
        {{#each files}}
          <li>
            <a href="/{{relative}}" title="{{title}}" class="{{ext}}">{{base}}</a>
            <i>{{size}}</i>
          </li>
        {{/each}}
      </ul>
    </main>

    <script type="text/javascript">
      (function() {
        toggle.addEventListener('click', function() {
          files.classList.toggle('single-column');
          toggle.classList.toggle('single-column');
        });
      })();
    </script>
  </body>
</html>
